:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  background-image: url(https://i.postimg.cc/Cx78jd9y/houses.png);
  background-size: 510px 200px;
  padding: 1.5rem;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-logo {
  margin-bottom: 1rem;
}

.navbar-links {
  margin-bottom: 1rem;
}

.nav-item {
  margin: 0 1rem;
  position: relative;
  top: 130px;
  text-decoration: none;
  color: green;
}

.nav-item:hover {
  text-decoration: underline;
}

.zip-code-input {
  padding: 0.5rem;
  font-size: 1rem;
  
}


/* Nav Bar */

.form-input{
  display: flex;
  margin: 10px
}
/* start of login/ signupcss */
.login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.form{
  margin-top: 200px;
  border: 5px solid black;
  width: 300px;
  height: 200px;
}
.signup-login{
  display: flex;
  margin-top: 100px
}
.container-box{
  margin-right: 25px;
}
/* end of login/signup css */
.homeHeader{
  font-size: 45px;
  padding: 20px;
  margin: 40px;
  
}
.home-post{
  width: 600px;
  height: max-content;
  margin-bottom: 30px;
}
/* post css */
.post-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.post-content{
  border: 2px solid black;
} */



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
